@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'NanumMyeongjoBold';
  font-display: swap;
  src: url('../fonts/NanumMyeongjoBold.woff') format('woff');
  font-weight: 700;
}